/*Esto es un comentario*/

/*
ejemplo:
selector {
    property: value;
}
*/

h1 {
    color: blue;
}

/*Esto hará que todos los  h1 tag sean azules*/

* {
    background-color: blanchedalmond;
    /*Universal selector*/
  }
  